.spam {
  width: 100%;
  background: white;
  max-width: 800px;
  height: min-content;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid var(--c1);
  padding: 3px;
}

.table-scroll {
  max-height: 500px; /* Adjust the max-height as needed */
  overflow: auto; /* Enable scrolling */
}

.spam-table {
  width: 100%; /* Ensure table takes full width of its container */
}

.spam-table td:nth-child(2) {
  max-width: 100px; /* You can adjust the value based on your design */
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spam-table .reported-message {
  max-width: 300px; /* You can adjust the value based on your design */
  overflow: hidden;
}

.spam-table .reported-message-content {
  overflow-y: auto;
  max-height: 100px; /* You can adjust the max-height based on your design */
}

.spam-table .reported-message-content::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* Adjust the color of the scrollbar thumb */
  border-radius: 10px; /* Adjust the border-radius of the scrollbar thumb */
}

@media screen and (max-width: 1500px) and (min-width: 1400px) {
  .table-scroll {
    height: 500px;
    width: 1000px;
    overflow-x: auto;
    overflow-y: auto;
  
  }
}

@media screen and (max-width: 1400px) and (min-width: 1000px) {
  .table-scroll {
    height: 500px;
    width: 800px;
    overflow-x: auto;
    overflow-y: auto;
  
  }
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
  .table-scroll {
    height: 500px;
    width: 600px;
    overflow-x: auto;
    overflow-y: auto;
  }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  .table-scroll {
    height: 500px;
    width: 400px;
    overflow-x: auto;
    overflow-y: auto;
  }
}

@media screen and (max-width: 500px) and (min-width: 350px) {
  .table-scroll {
    height: 500px;
    width: 200px;
    overflow-x: auto;
    overflow-y: auto;
  }

  .greeting {
    text-align: center;
  }
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: darkred;
}

