.spam {
  width: 100%;
  background: white;
  max-width: 800px;
  height: min-content;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid var(--c1);
  padding: 3px;
  
}

.admin_content_display {
  width: 100%;
  display: flex;
  background: #eff0f4;
  margin: 4px 0;
  border-radius: 5px;
}
.spam .spam_report {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 9px;
}
.spam .spam_time {
  font-size: 1rem;
  margin-left: 10px;
}
.spam .spam_username {
  font-size: 1.3rem;
  font-weight: 500;
}

.spam .spam_email {
  font-size: 1rem;
  color: var(--c1);
}

.spam-table td:nth-child(2) {
  max-width: 300px; /* You can adjust the value based on your design */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-y: auto;
}

.spam-table .reported-message {
  max-width: 300px; /* You can adjust the value based on your design */
  overflow: hidden;
}

.spam-table .reported-message-content {
  overflow-y: auto;
  max-height: 100px; /* You can adjust the max-height based on your design */
}

.spam-table .reported-message-content::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* Adjust the color of the scrollbar thumb */
  border-radius: 10px; /* Adjust the border-radius of the scrollbar thumb */

}