/* AdminPage.css */

.admin-page {
  display: flex;
  height: 100vh;
}

.sidebar-icon {
  cursor: pointer;
  font-size: 2.0em;
  margin-right: -5px;
  margin-left: 10px;
  color: white;
  padding: 10px;
  transition: margin-left 0.3s ease;
}

.sidebar-icon.open {
  margin-right: 220px; 
}

.sidebar {
  background: linear-gradient(to bottom, #358d42, #15461d);
  color: #fff;
  padding: 30px;
  min-width: 250px;
  transition: min-width 0.3s ease;
  overflow-x: hidden;
  position: fixed;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1;
  height: 100vh;
}

.sidebar.open {
  min-width: 220px; /* Adjust the width to match the expanded sidebar width */
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar h1 {
  font-size: 1.5em;
  color: #fff;
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.sidebar hr {
  border-color: #555;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;
}

.sidebar li {
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar li.selected {
  background-color: #4CAF50;
  color: #fff;
}

.sidebar li:hover {
  background-color: #555;
}

.close-button {
  position: absolute;
  top: 10px; /* Adjust this value to fine-tune the vertical position */
  right: 10px; /* Adjust this value to fine-tune the horizontal position */
  cursor: pointer;
}

.main-content {
flex: 1;
padding-top: 50px;
color: #555;

}

/* Add more styling as needed */

@media screen and (max-width: 700px) {
  .sidebar {
    height: 100%;
    position: fixed;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
